<footer class="footer-2" role="contentinfo">
	<div class="footer-logo"><h4>{ }</h4></div>

	<!--<ul>-->
	<!--{% for page in site.pages %}-->
	<!--{% if page.title %}<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>{% endif %}-->
	<!--{% endfor %}-->
	<!--</ul>-->

	<div class="footer-secondary-links">
		<ul class="footer-social">
			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#"><i class="fa fa-github"></i></a></li>
		</ul>
	</div>

</footer>