---
layout: blog
---

<div id="cover" class="cover {% if page.featured == true %} featured {% endif %}">
	<div class="background"></div>
	<header class="wrapper">
		<h2>
			{% for category in post.categories %}
			{{ category }}
			{% endfor %}
		</h2>
		<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	</header>
</div>

<section class="posts wrapper">
	<article class="post {% if page.featured == true %} featured {% endif %}">

		<header>
			<h2>
				{% for category in post.categories %}
				{{ category }}
				{% endfor %}
			</h2>
			<h1 id="posttitle"><a href="#">{{ page.title }}</a></h1>
		</header>

		<section class="postbody">
			{{content}}
		</section>

	</article>
</section>