---
layout: blog
---


<!--assign current author to page author-->
{% assign author = site.authors[page.author] %}

<!--include project header-->
{% include project_header.html %}

<section class="posts wrapper">
	<article class="post">

		<header>
			<h2>
				{% for category in page.categories %}
				{{ category }}
				{% endfor %}
			</h2>
			<h1 id="posttitle"><a href="#">{{ page.title }}</a></h1>
            <span>
                Posted by {{ author.display_name }}
                on <time datetime="{{ page.date| date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>.
            </span>
		</header>

		<section class="postbody">

			<!--include mini browser-->
			{% include mini_browser.html %}

			{{ content }}
		</section>

		<br/>

		<!--include author info-->
		{% include author_info.html %}
	</article>
</section>
